beautifulsoup4==4.13.4
blinker==1.9.0
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.2.1
Flask==3.1.1
gunicorn==23.0.0
html5lib==1.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
lxml==6.0.0
MarkupSafe==3.0.2
packaging==25.0
requests==2.32.4
six==1.17.0
soupsieve==2.7
typing_extensions==4.14.1
urllib3==2.5.0
webencodings==0.5.1
Werkzeug==3.1.3
